@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme inline {
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
}

body {
  font-family: var(--font-sans);
}

@theme {
  --color-brand: #EC6725;
}
